/* Responsive Styles for Campus */
.campus {
    margin: 80px auto;
    width: 90%;
    text-align: center;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  
  .gallery img {
    width: 100%;
    max-width: 23%;
    margin-bottom: 10px;
    border-radius: 10px;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .gallery img {
      max-width: 48%;
    }
  }
  
  @media (max-width: 480px) {
    .gallery img {
      max-width: 100%;
    }
  }
  