.title{
    margin: 70px 0 30px;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    text-transform: uppercase;
}
.title h2{
    text-transform: none;
    margin-top: 5px;
    font-size: 32px;
    color: #000f38;
}